{% set icon = icon ? '<i class="' ~ icon ~ '"></i>' : '' %}
{% set button_title = (not icon_right ? icon : '')|space(true) ~ title ~ (icon_right ? icon : '')|space %}
{% set classes = no_classes ? '' : ('ui button ' ~ color ~ size|space ~ state_classes|space) ~ class|space %}
{% set css_classes = classes is not empty ? ' class="' ~ classes ~ '"' : '' %}

{% if menu_dp %}
    <span{{ class ? ' class="' ~ class ~ '"' : '' }}{{ attributes|space|raw }}>{{ button_title|raw }}</span>
{% else %}
    {% if link %}
        <a href="{{ link }}"{{ css_classes|raw }}{{ attributes|space|raw }}>{{ button_title|raw }}</a>
    {% else %}
        <button type="{{ type }}"{{ css_classes|raw }}{{ attributes|space|raw }}>{{ button_title|raw }}</button>
    {% endif %}
{% endif %}
