{% set tag = link ? 'a' : 'div' %}
<{{ tag }} class="ui fluid card{{ class|space }}"{{ attributes|space|raw }}{{ (link ? ' href="' ~ link ~ '"' : '')|raw }}>
    {% if top_img %}
        <img class="image{{ top_img.class|space }}" src="{{ top_img.src }}" alt="{{ top_img.alt }}">
    {% endif %}
    {% if header %}
        <div class="content">{{ header|raw }}</div>
    {% endif %}
    {{ top|raw }}
    {% if body %}
        <div class="content">{{ body|raw }}</div>
    {% endif %}
    {{ bottom|raw }}
    {% if footer %}
        <div class="content">{{ footer|raw }}</div>
    {% endif %}
</{{ tag }}>
