{{ add_to_jquery("$('.ui.menu .toc').on('click', function(){ $(this).parent().parent().find('.item').toggleClass('show'); });") }}

{{ add_to_css('
.ui.menu .toc {display:none;}
@media only screen and (max-width:767.98px){
    .ui.menu .toc {display:block;cursor:pointer;}
    .ui.menu .item:not(.header) {display:none!important;}.ui.menu .item.show:not(.header){display:block!important;}
    .ui.menu .item.header {display:flex;justify-content:space-between;}
}
') }}

{% macro menu_item(item, item_class) %}
    {% set active = item.active ? ' active' : '' %}

    <a class="item{{ item_class|space ~ item.class|space }}{{ active }}" href="{{ item.link }}">{{ item.title|raw }}</a>
{% endmacro %}

{% macro right(items) %}
    <div class="right menu">
        {% for key,item in items %}
            {% if item.dropdown %}
                {{ item.dropdown|raw }}
            {% elseif item.custom %}
                <div class="item">{{ item.custom|raw }}</div>
            {% else %}
                {{ _self.menu_item(item, item_class) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

<div class="ui stackable menu{{ color|space ~ class|space }}"{{ attributes|space|raw }}>
    <div class="header item">
        {% if brand.title %}
            <a href="{{ brand.link }}">{{ brand.title|raw }}</a>
        {% endif %}
        <i class="sidebar icon toc"></i>
    </div>

    {% for key,item in items %}
        {% set active = item.active ? ' active' : '' %}

        {% if item.dropdown %}
            {{ item.dropdown|raw }}
        {% elseif item.custom %}
            <div class="item">{{ item.custom|raw }}</div>
        {% elseif key == 'right' %}
            {{ _self.right(item) }}
        {% else %}
            {{ _self.menu_item(item, item_class) }}
        {% endif %}
    {% endfor %}
</div>
