<div class="form-group{{ class|space ~ state|space }}"{{ attributes|space|raw }}>
    {% if label %}
        <label for="{{ textarea_id }}" class="form-label">{{ label }}</label>
    {% endif %}
    <textarea{{ textarea_attributes|space|raw }} class="form-control{{ textarea_class|space }}">{{ value }}</textarea>
    {% if feedback_text %}
        <div class="help-block">{{ feedback_text|raw }}</div>
    {% endif %}
    {% if help_text %}
        <div class="text-muted">{{ help_text|raw }}</div>
    {% endif %}
</div>
