{% set state_classes = (active ? ' active' : '') ~ (disabled ? ' disabled' : '') %}
{% set icon = icon ? '<i class="'~ icon ~'"></i>' : '' %}
{% set button_title = (not icon_right ? icon : '')|space(true) ~ title ~ (icon_right ? icon : '')|space %}
{% set css_classes = color ~ size|space ~ class|space ~ state_classes %}

{% if link %}
    <a href="{{ link }}" class="{{ menu_dp ? 'nav-link' ~ class|space : 'btn ' ~ css_classes }}"{{ attributes|space|raw }}>{{ button_title|raw }}</a>
{% else %}
    <button type="{{ type }}" class="{{ menu_dp ? 'nav-link' ~ class|space : 'btn ' ~ css_classes }}"{{ attributes|space|raw }}>{{ button_title|raw }}</button>
{% endif %}
