<ul class="pagination{{ class|space }}"{{ attributes|space|raw }}>
    {% for item in items %}
        {% set active = item.current ? ' active' : '' %}
        {% set disabled = item.disabled ? ' disabled' : '' %}
        <li class="page-item{{ item_class|space ~ active ~ disabled }}"><a class="page-link" href="{{ item.link }}">{{ item.title|raw }}</a></li>
    {% endfor %}
</ul>
