{% set left = left_addon or left_custom ? 'left' : '' %}
{% set right = right_addon or right_custom ? 'right' : '' %}
{% set labeled = left_addon or right_addon ? 'labeled' : '' %}
{% set action = left_custom or right_custom ? 'action' : '' %}

<div class="field{{ state|space }}"{{ attributes|space|raw }}>
    {% if label %}
        <label for="{{ input_id }}">{{ label }}</label>
    {% endif %}
    <div class="ui input fluid{{ left|space ~ right|space ~ labeled|space ~ action|space ~ size|space ~ class|space }}">
        {{ left_custom|raw }}
        {% if left_addon %}
            <div class="ui basic label">{{ left_addon|raw }}</div>
        {% endif %}
        <input value="{{ value }}" type="{{ type }}"{{ input_attributes|space|raw }}{{ (input_class ? ' class="' ~ input_class ~ '"' : '')|raw }} aria-label="{{ label }}">
        {% if right_addon %}
            <div class="ui basic label">{{ right_addon|raw }}</div>
        {% endif %}
        {{ right_custom|raw }}
    </div>
    {% if feedback_text %}
        <div class="ui pointing basic label">{{ feedback_text|raw }}</div>
    {% endif %}
    {% if help_text %}
        <div><small>{{ help_text|raw }}</small></div>
    {% endif %}
</div>
