{% set right = right_addon or right_custom ? 'right' : '' %}
{% set corner =required ? 'corner' : '' %}
{% set labeled = left_addon or required ? 'labeled' : '' %}
{% set action = left_custom or right_custom ? 'action' : '' %}
{% set classes = right|space ~ corner|space ~ labeled|space ~ action|space ~ (not inline ? ' fluid' : '') ~ size|space ~ class|space %}

<div class="field{{ state|space }}"{{ attributes|space|raw }}>
    {% if label %}
        <label for="{{ input_id }}">{{ label }}</label>
    {% endif %}
    <div class="ui input{{ classes }}">
        {{ left_custom|raw }}
        {% if left_addon %}
            <div class="ui basic label">{{ left_addon|raw }}</div>
        {% endif %}
        <input value="{{ value }}" type="{{ type }}"{{ input_attributes|space|raw }}{{ (input_class ? ' class="'~ input_class ~'"' : '')|raw }}>
        {% if required %}
            <div class="ui corner label"><i class="asterisk icon"></i></div>
        {% endif %}
        {% if right_addon %}
            <div class="ui basic label">{{ right_addon|raw }}</div>
        {% endif %}
        {{ right_custom|raw }}
    </div>
    {% if feedback_text %}
        <div class="ui pointing basic label">{{ feedback_text|raw }}</div>
    {% endif %}
    {% if help_text %}
        <div><small>{{ help_text|raw }}</small></div>
    {% endif %}
</div>
