{% if divider is not same as('/') %}
    {% set bc_id = 'breadcrumb-' ~ random(50, 100) %}
    {{ add_to_css('.' ~ bc_id ~ ' .breadcrumb-item+.breadcrumb-item::before{content:"' ~ divider ~ '"}') }}
{% endif %}
<ol class="breadcrumb{{ class|space ~ bc_id|space }}" aria-label="breadcrumb"{{ attributes|space|raw }}>
    {% for title, link in links %}
        {% if loop.last %}
            <li class="breadcrumb-item{{ item_class|space }} active" aria-current="page">{{ title|raw }}</li>
        {% else %}
            <li class="breadcrumb-item{{ item_class|space }}"><a href="{{ link }}">{{ title|raw }}</a></li>
        {% endif %}
    {% endfor %}
</ol>
