<div id="carousel-{{ id }}" class="carousel slide{{ class|space }}" data-ride="carousel"{{ attributes|space|raw }}>
    {% if indicators %}
        <ol class="carousel-indicators">
            {% for slide in slides %}
                <li data-target="#carousel-{{ id }}" data-slide-to="{{ loop.index0 }}"{{ loop.first ? ' class="active" aria-current="true"' : ''|raw }}></li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class="carousel-inner">
        {% for slide in slides %}
            <div class="carousel-item{{ item_class|space }}{{ loop.first ? ' active' : '' }}">{{ slide|raw }}</div>
        {% endfor %}
    </div>

    {% if controls %}
        <button class="carousel-control-prev" type="button" data-target="#carousel-{{ id }}" data-slide="prev"><span class="carousel-control-prev-icon"></span></button>
        <button class="carousel-control-next" type="button" data-target="#carousel-{{ id }}" data-slide="next"><span class="carousel-control-next-icon"></span></button>
    {% endif %}
</div>
