{% macro menu_item(item, item_class) %}
    {% set active = item.active ? ' active' : '' %}
    {% set new_window = item.new_window ? ' target="_blank"' : '' %}
    <li class="nav-item"><a class="nav-link{{ item_class|space ~ item.class|space }}{{ active }}" href="{{ item.link }}"{{ new_window|raw }}>{{ item.title|raw }}</a></li>
{% endmacro %}

{% macro right(items, item_class) %}
    </ul><ul class="navbar-nav ml-auto">
    {% for item in items %}
        {% if item.dropdown %}
            {{ item.dropdown|raw }}
        {% elseif item.custom %}
            <li class="nav-item">{{ item.custom|raw }}</li>
        {% else %}
            {{ _self.menu_item(item, item_class) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% set color = dark ? 'dark bg-dark' : 'light bg-light' %}
<nav class="navbar navbar-expand-lg navbar-{{ color }}{{ class|space }}"{{ attributes|space|raw }}>
    <div class="container-fluid">
        {% if brand.title %}
            <a class="navbar-brand" href="{{ brand.link }}">{{ brand.title|raw }}</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-{{ id }}"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbar-{{ id }}">
            <ul class="navbar-nav mr-auto">
                {% for key, item in items %}
                    {% if key == 'right' %}
                        {{ _self.right(item, item_class) }}
                    {% elseif item.dropdown %}
                        {{ item.dropdown|raw }}
                    {% elseif item.custom %}
                        <li class="nav-item">{{ item.custom|raw }}</li>
                    {% else %}
                        {{ _self.menu_item(item, item_class) }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
