{% if always_open == true %}
    {{ add_to_js("new bootstrap.Modal(document.getElementById('modal-" ~ id ~ "'), {}).show();") }}
{% endif %}

{% if hide_button == false %}
    {{ button|raw }}
{% endif %}

<div class="modal fade{{ class|space }}" id="modal-{{ id }}" tabindex="-1" aria-hidden="true"{{ attributes|space|raw }}>
    <div class="modal-dialog{{ size|space }}">
        <div class="modal-content">
            {% if content.header or content.title or close_button == true %}
                <div class="modal-header">
                    {% if content.title %}
                        <h5 class="modal-title">{{ content.title|raw }}</h5>
                    {% endif %}

                    {{ content.header|raw }}

                    {% if close_button == true %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% endif %}
                </div>
            {% endif %}
            {% if content.body %}
                <div class="modal-body">{{ content.body|raw }}</div>
            {% endif %}
            {% if content.footer %}
                <div class="modal-footer">{{ content.footer|raw }}</div>
            {% endif %}
        </div>
    </div>
</div>
