{% macro page(frameworks) %}
    {{ container_open(false, {'attributes': {'style': 'padding-top: 3rem;padding-bottom: 3rem;'}}) }}

    <div style="text-align:center;margin-bottom:3rem;">
        <h1>PHP UI Kit Examples: Twig</h1>
        <h2>Current CSS Framework: <strong>{{ current_framework }}</strong></h2>

        {% for framework in frameworks %}
            {% set active = current_framework == framework ? ' style="font-weight:bold;"' : '' %}
            <a{{ active|raw }} href="?fw={{ framework }}">Open {{ framework}}</a>
        {% endfor %}

        <p>This file shows how to use components in Twig.</p>
        <a href="/examples/">Return to main page</a>
    </div>

    {{ accordion('example', {
        'Title 1': 'Content 1',
        'Title 2': 'Content 2',
    }) }}

    {{ container_close() }}
{% endmacro %}

{{ layout(_self.page(frameworks), {'title': 'PHP UI Kit Examples: Twig'}) }}
