{% set tag = link ? 'a' : 'div' %}
<{{ tag }} class="panel panel-default{{ class|space }}"{{ attributes|space|raw }}{{ (link ? ' href="' ~ link ~ '"' : '')|raw }}>
    {% if top_img %}
        <img class="card-img-top img-responsive{{ top_img.class|space }}" src="{{ top_img.src }}" alt="{{ top_img.alt }}">
    {% endif %}
    {% if header %}
        <div class="panel-heading">{{ header|raw }}</div>
    {% endif %}
    {{ top|raw }}
    {% if body %}
        <div class="panel-body">{{ body|raw }}</div>
    {% endif %}
    {{ bottom|raw }}
    {% if footer %}
        <div class="panel-footer">{{ footer|raw }}</div>
    {% endif %}
</{{ tag }}>
